<div th:fragment="nav">

  <div th:replace="fragments/icons::icons"></div>

  <nav>
    <div class="nav_oculto ocultar">

      <div class="d-flex justify-content-between align-items-center">

        <div class="icon-oculto ocultar_items logo-ex">
          <a href="/" class="d-flex align-items-center mb-lg-0 text-white text-decoration-none">
            <svg class="" width="40" height="32" role="img" aria-label="Bootstrap">
              <use xlink:href="#logo" />
            </svg>
            <h3 style="font-family: 'Prata', serif; padding-top: 2px;">Palabras al Viento</h3>
          </a>
        </div>

        <div class="closeMenu ocultar_items">
          <svg class="bir me-2" width="40" height="32">
            <use xlink:href="#x-lg" />
          </svg>
        </div>

      </div>

      

      <div class="menu ocultar_items" style="color: white;">
        <hr class="dropdown-divider">
        <ul class="nav-elementos">
          <li><a th:href="@{/}"><svg width="28" height="26">
                <use xlink:href="#home" />
              </svg>Inicio</a>
          </li>
          <li><a th:href="@{/usuario/lista}"><svg width="28px" height="26px">
            <use xlink:href="#grid" />
          </svg>Usuarios</a>
          </li>
          <li><a><svg width="28px"
            height="26px">
            <use xlink:href="#question" />
          </svg>FAQs</a></li>
          <li><a><svg style="fill: currentColor; " width="28px"
            height="26px">
            <use xlink:href="#chat-heart" />
          </svg>Sobre nosotros</a>
          </li>
        </ul>

        <hr class="dropdown-divider">

        <div style="display:flex; color: white; justify-content: center;" sec:authorize="!hasAnyRole('ADMIN','USER')">
          <a class="boton-prueba" th:href="@{/login}" type="button">Iniciar sesión</a>
          <a class="boton-prueba" th:href="@{/usuario/registro}" type="button">¡Registrate!</a>
        </div>

        <div style="color: white;" sec:authorize="isAuthenticated()">
          <ul class="menuCuenta" style="border: 1px solid white; border-radius: 20px; ">
            <li><a style="text-decoration: none;" th:href="@{/poema/crear}">Nuevo poema...</a></li>
            <li><a style="text-decoration: none;" href="#">Opciones</a></li>
            <li><a style="text-decoration: none;" th:href="@{/profile}">Perfil</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a style="text-decoration: none;" th:href="@{/logout}">Cerrar sesión</a></li>
          </ul>
        </div>

      </div>




    </div>

    <header class="p-1 bg-dark text-white">
      <div class="contenedor">
        <div class="d-flex align-items-center justify-content-between">

          <div class="logo-ex">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#logo" />
              </svg>
              <h3 style="font-family: 'Prata', serif; padding-top: 2px;">Palabras al Viento</h3>
            </a>
          </div>

          <div class="openMenu">
            <svg class="bir me-2" width="40" height="40">
              <use xlink:href="#hamburger" />
            </svg>
          </div>

          <ul class="nav mb-2 justify-content-center mb-md-0 mainMenu">
            <li><a th:href="@{/}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="22">
                  <use xlink:href="#home" />
                </svg>
                Inicio
              </a></li>
            <li><a th:href="@{/usuario/lista}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="22">
                  <use xlink:href="#grid" />
                </svg>
                Usuarios
              </a></li>
            <li><a href="#" class="nav-link px-2 text-white"><svg class="bi d-block mx-auto mb-1" width="24"
                  height="22">
                  <use xlink:href="#question" />
                </svg>
                FAQs
              </a></li>
            <li><a href="#" class="nav-link px-2 text-white"><svg class="bi d-block mx-auto mb-1" width="24"
                  height="22">
                  <use xlink:href="#chat-heart" />
                </svg>
                Sobre nosotros
              </a></li>
          </ul>

          <div class="cuentaMenu" sec:authorize="!hasAnyRole('ADMIN','USER')">
            <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input type="search" class="form-control form-control-dark" placeholder="Buscador..." aria-label="Search">
            </form> -->
            <a th:href="@{/login}" type="button" class="btn btn-outline-light me-2">Iniciar sesión</a>
            <a th:href="@{/usuario/registro}" type="button" class="btn btn-warning">¡Registrate!</a>
          </div>






          <div class="dropdown text-end cuentaMenu" sec:authorize="isAuthenticated()">
            <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
              data-bs-toggle="dropdown" aria-expanded="false">
              <svg class="bi" width="32" height="32">
                <use xlink:href="#people-circle" />
              </svg>
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" th:href="@{/poema/crear}">Nuevo poema...</a></li>
              <li><a class="dropdown-item" href="#">Opciones</a></li>
              <li><a class="dropdown-item" th:href="@{/profile}">Perfil</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>



  </nav>

</div>