.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.boton-prueba {
  text-decoration: none;
  margin-left: 1rem;
  font-size: 30px;
  border: 1px solid yellow;
  border-radius: 20px;
  padding: 0.25em;
}

nav .openMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.nav_oculto {
  display: none;
}

nav .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.menu a {
  color: white!important;
}

.ocultar {
  height: 0%!important;
  width: 100vw!important;
}

.ocultar_items {
  display: none!important;
}

.contenedor {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.nav-elementos li {
  border: 1px solid white;
  border-radius: 20px;
}

.nav-elementos a {
  text-decoration: none;
}

.nav-elementos svg {
  fill: currentColor; 
  vertical-align: inherit;
}

@media (min-width: 1200px) {
  .contenedor {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .contenedor {
    max-width: 1320px;
  }
}

@media (max-width: 992px) {
  nav .mainMenu, .cuentaMenu {
    display: none;
  }

  .nav_oculto {
    position: fixed;
    z-index: 100;
    margin: 0; 
    padding: 0; 
    background-color: rgb(33,37,41); 
    height: 100vh; 
    width: 100vw;
    display: block;
    transition: all 0.5s;
  }

  nav .iconOculto {
    display: flex;
  }

  nav .closeMenu {
    display: flex;
    position: relative;
    justify-content: right;
    text-align: right;
    top: 20px;
    padding-bottom: 1em;
    right: 20px;
  }

  nav .openMenu {
    display: block;
    padding-bottom: 0.25em;
  }

  .menu ul {
    margin: 0.5em;
    padding: 0; 
    list-style: none; 
    text-align: center; 
    flex-direction: column; 
    font-size: 38px;
  }

  .logo-ex {
    margin-left: 33%;
  }

  .logo-ex svg {
    width: 60px; 
    height: 52px;
    fill: currentColor;
  }

  .logo-ex h3 {
    font-size: 32px;
    margin-bottom: 0;
  }
}


@media (max-width: 768px) {
  .logo-ex {
    margin-left: 27%
  }
}

@media (max-width: 576px) {
  
  .logo-ex {
    margin-left: 0;
  }
  
  .logo-ex svg {
    width: 32px;
    height: 32px;
    margin-top: 0.25em;
  }

  .logo-ex h3 {
    font-size: 25px;
    margin-top: 0.05em;
  }

  .nav_oculto .logo-ex {
    padding-left: var(--bs-gutter-x,.75rem);
  }

  .menu ul {
    font-size: 30px;
  }

  .boton-prueba {
    font-size: 25px;
  }
}