<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container m-5">

		<div th:if="${exito}!=null" class="card text-white bg-success mb-3" >
			<div class="card-body">
				<h5 class="card-title">Exito</h5>
				<p class="card-text" th:text="${exito}"></p>
			</div>
		</div>
		<div th:if="${error}!=null" class="card text-white bg-danger mb-3" >
			<div class="card-body">
				<h5 class="card-title">Error</h5>
				<p class="card-text" th:text="${error}"></p>
			</div>
		</div>
                <!-- cuando trabajamos con pathvariable tenemos que enviar de esta manera el valor
                es una sintaxis de thymeleaf-->
                
		<form th:action="@{/usuario/editar/__${usuario.id}__}" method="POST">
                    
			<div class="form-group">
				<label>Nombre</label> <input th:value="${usuario.nombre}" type="text" class="form-control" name="nombre" placeholder="Nombre de la mascota">
			</div>

			<div class="form-group">
                            <label>Email</label> <input th:value="${usuario.email}" type="email" class="form-control" name="email">
			</div>

			<!-- div class="form-group">
				<label>Foto</label> <input th:value="${usuario.foto}" type="text" class="form-control" name="foto" placeholder="URL de la foto">
			</div>

			<div class="form-group">
				<label>Raza</label> <input th:value="${perro.raza}" type="text" class="form-control" name="raza" placeholder="Raza de la mascota">
			</div-->

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<a th:href="@{/}" class="btn btn-primary my-2">Volver</a>
				</div>
			</div>
		</section>

	</div>


    </body>
</html>
