<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="home" href="style.css">
    </head>
        <body>
    <header>
        <h1>PoetApp</h1>
        <div>
            <ul>
                <li><a href="/login">Regristrarse</a></li>
                <li><a href="/profile">Poemas</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
            </ul>
        </div>
    </header>
        <div>Este es un espacio donde poder encontrarse con la literatura y el romance detras de el.</div>
    </body>
</html>
