<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <!-- These meta tags come first. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Nosotros</title>

        <!-- Include the CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/headers.css" rel="stylesheet">
    </head>

    <body>
        
         <header>
            <nav th:replace="/fragments/navbar :: nav"></nav>
       
        </header>

        <img class="fondo"
             src="https://us.123rf.com/450wm/andrejad/andrejad0802/andrejad080200064/2530504-secos-rosa-roja-sobre-un-viejo-libro-.jpg?ver=6">
        <div>
            <p >Somos un grupo de estudiantes q mediante la asignacion de un proyecto web nos
                encomendaron realizar una app de poemas.
                Nuestro objetivo, a demas de aprobar el examen, es q todo aquel q tenga ganas de compartir sus sentimientos y
                experiancias mediante
                la literatura pueda entrar en nuestra web y compartir sus poemas y asi inspirar a otros con sus escrituras.
                Y asi lograr crear una bella comunidad de poetas. No necesariamente tienen que ser de propia autoria tambien
                pueden ser sitas de sus autores
                favoritos junto con una breve reseña de porque ese poemas les gusto. Tambien los invitamos a dejar su huella con
                su firma o hacerlo de manera anonima.
            </p>
            <p>Aca hirian un monton de palabrerias mas pero no se me ocurre mas nada....[]</p>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous">
        </script>
    </body>
    <footer>
        <h6><span class="pie" >Aaron Garay, Barbara Tissera, Corel Vilches, Gaston Contreras, Vanesa
                Amarillo</span></h6>
    </footer>

</html>