<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<link href="/css/styleregistro.css" rel="stylesheet">

</head>
<body>
 <div class="container">
 	<div class="header">
 		<h1>Registro</h1>
 	</div>
 	<div class="main">
 		<form action="/usuario/registro" method="post">
 			<span>
 				<i class="fa fa-user"></i>
 				<input type="text" placeholder="Email" name="email" required>
 			</span><br>
 			<span>
 				<i class="fa fa-lock"></i>
 				<input type="text" placeholder="Nombre de usuario" name="nombreUsuario">
 			</span><br>
			 <span>
				<i class="fa fa-lock"></i>
				<input type="password" placeholder="Clave" name="contrasenia1">
			</span><br>
                        <span>
				<i class="fa fa-lock"></i>
				<input type="password" placeholder="Confirme su clave" name="contrasenia2">
			</span><br>
 				<button type="submit">Registrarse</button>

 		</form>
 	</div>
 </div>
</body>
</html>